{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
    <h1>Nithin</h1>
    <img src="{% static 'images/Nithin.jpg' %}" alt="Img Shown" width="500px",height='500px'><br>
    <a href="{% url 'priyanka' %}">Navigate To Priyanka</a>
    
    </center>
</body>
</html>